
@media screen and (min-width: 1024px) {
    html {
        background-size: 49px;
    }
    #mainPage, #pollsPage, #header > div, #errorLog{
        max-width: 960px;        
    }
    #header{
        padding: 10px;
    }
    #body{
        margin: 40px 0;
    }
    .option table{
        margin: 0 15%;
        width: 70%;
    }

    .buttons{
        margin: 20px 0;
    }
/*    #gameButtons{
        padding-top: 32% !important;
    }*/
    #gameSwipeButtons{
        display: block !important;
    }

    #image img, #image canvas{
        margin-top: 40px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.35), inset 1px 1px 0 rgba(255,255,255,0.35), 0 3px 6px black; 
    }

}

