
#languages{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    font-weight: bold;
    overflow-y: scroll;
    /*bigger than tutorial z-index:*/
    z-index: 200;
    pointer-events: auto !important;
}

#languages > div{
    height: 62px;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}
#languages > div:hover{
    background: grey;
}

#languages .img, #languages .text{
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#languages .img{    
    top: 50%;
}
#languages img{
    /*zoom: 1.5;*/
    zoom: 1.2;
    vertical-align: middle;
}

#languages .text{
    margin-left: 85px;
    top: 49%;
}

#language_icon{
    width: 100%;
}
#language_icon img{
    position: absolute;
    /*height: 35px;*/
    width: 27px;
    top: 48%;   
    margin-left: 10px;
    cursor: pointer;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#languages .preselect{
    border-bottom: 2px solid rgb(56,56,56);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
